/* style pour avoir la video en plein ecrant*/
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*ajoute du contenu en desous de la page/video */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  color: white;
  width: 100%;
  padding: 20px;
}
/*code navbar*/
.navigation{
  padding-top:30px;
  padding-bottom:30px;
  position:absolute;
  top:0;
  width:100%;
  z-index:1;
}

.navbar-right{
  float:right;
  padding-right:10%;
}

.navbar-right a{
  text-decoration:none;
  padding:10px;
  color: #fff;
  font-family:Arial;
  font-weight:900;
}

.navbar-right a:hover{
  text-decoration:underline;
}
.navbar-logo{
  padding-left:10%;
  font-family:Arial;
  font-size:30px;
  font-weight:bold;
  text-decoration:none;
  color:#fff; 
}

table, th, td {
  border: 3px solid black;
  border-radius: 10px;
}

body {
    color: black;
}
    
